[Unit]
Description=cAdvisor Container Monitoring
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Container]
Image=gcr.io/cadvisor/cadvisor:latest
ContainerName=cadvisor
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
PublishPort=8080:8080
Volume=/:/rootfs:ro
Volume=/var/run:/var/run:ro
Volume=/sys:/sys:ro
Volume=/var/lib/containers:/var/lib/containers:ro
Volume=/dev/disk:/dev/disk:ro
Network=monitoring.network
PodmanArgs=--userns=keep-id --memory=256m --privileged

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
