[Unit]
Description=Automatic System Shutdown at 22:00
Wants=shutdown-timer.timer
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl poweroff
User=root

[Install]
WantedBy=multi-user.target